.Header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 60px;
}

.Header_center {
    font-size: 25px;
    font-weight: 700;
}