.List {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.List > input {
    width: 50%;
    border: none;
    border-bottom: 1px solid rgb(220,220,220);
    padding: 10px 0px;
    border-radius: 5px;
    padding-left: 10px;
}

.List > input:focus {
    outline: none;
    border-bottom: 1px solid rgb(37, 147, 255);
}

.List .list_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}