.App {
  width: 500px;
  background-color: beige;
  margin: 0 auto;
  border: 3px solid black;
  border-radius: 20px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
  padding: 10px;
}