.App {
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    border: 1px solid black;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.App > img {
    width: 70px;
}