.App {
  width: 600px;
  background-color: beige;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  gap: 40px;
}